@font-face {
    font-family: "aviaticons";
    src: url('./aviaticons.eot');
    src: url('./aviaticons.eot?#iefix') format('eot'), url('./aviaticons.woff') format('woff'), url('./aviaticons.ttf') format('truetype'), url('./aviaticons.svg#aviaticons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ai {
    display: inline-block;
    font-family: "aviaticons";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ai-lg {
    font-size: 1.3333333333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.ai-2x {
    font-size: 2em;
}

.ai-3x {
    font-size: 3em;
}

.ai-4x {
    font-size: 4em;
}

.ai-5x {
    font-size: 5em;
}

.ai-fw {
    width: 1.2857142857142858em;
    text-align: center;
}

.ai-ask21-l:before {
        content: "\EA01";
    }
    .ai-atc-tower:before {
        content: "\EA02";
    }
    .ai-boarding-pass:before {
        content: "\EA03";
    }
    .ai-c172-l:before {
        content: "\EA04";
    }
    .ai-headset:before {
        content: "\EA05";
    }
    .ai-nav-ndb:before {
        content: "\EA06";
    }
    .ai-nav-vor:before {
        content: "\EA07";
    }
    .ai-nav-vordme:before {
        content: "\EA08";
    }
    .ai-nav-vortac:before {
        content: "\EA09";
    }
    .ai-pilot-hat:before {
        content: "\EA0A";
    }
    .ai-propeller-four-blade:before {
        content: "\EA0B";
    }
    .ai-propeller-three-blade:before {
        content: "\EA0C";
    }
    .ai-propeller-two-blade:before {
        content: "\EA0D";
    }
    .ai-sidestick:before {
        content: "\EA0E";
    }
    .ai-sunglasses:before {
        content: "\EA0F";
    }
    .ai-windsock:before {
        content: "\EA10";
    }
    .ai-yoke:before {
        content: "\EA11";
    }
    