<!doctype html>
<html>

<head>
    <title>
        <%=fontName %> IconFont Gallery</title>
    <link rel="stylesheet" href="./aviaticons/aviaticons.css" />
    <link rel="stylesheet" href="./demo-files/demo.css" />
    <link rel="shortcut icon" href="demo-files/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="w-main centered">
        <header>
            <h1><%=fontName %> webfont </h1>
        </header>

        <main class="clearfix">
            <section>
                <h3>What?</h3>
                <p>
                    Aviaticons isa webfont dedicated to all aviation-lovers and those who develop applications or websites for those who love aviation.
                </p>
            </section>
            
            <section>
                <h3>How to use?</h3>
                <p>
                    <code>$ bower install aviaticons</code>
                </p>
            </section>

            <section>
                <h3>Available Icons</h3>

                <% _.each(glyphs, function(glyph) { %>
                    <div class="glyph <%=fontName %> ">
                        <div class="ai <%=className %>-<%=glyph.name %> "></div>
                        <input type="text" readonly="readonly" value="class: <%=className %>-<%=glyph.name %>" />
                    </div>
                    <% }); %>

            </section>
        </main>
        <footer>
            <a href="https://github.com/julkuh/aviaticons" target="_blank">@Github</a>
        </footer>
    </div>
</body>

</html>