<!doctype html>
<html>

<head>
    <title>
        <%=fontName %> IconFont Gallery</title>
    <link rel="stylesheet" href="./aviaticons/font/aviaticons.css" />
    <link rel="stylesheet" href="demo-files/demo.css" />
</head>

<body>
    <div class="w-main centered">
        <section class="mtm clearfix">
            <header>
                <h1><%=fontName %> webfont </h1>
                <p></p>
            </header>

            <h5>Overview</h5>

            <% _.each(glyphs, function(glyph) { %>
                <div class="glyph <%=fontName %> ">
                    <div class="ai <%=className %>-<%=glyph.name %> "></div>
                    <input type="text" readonly="readonly" value="class: <%=className %>-<%=glyph.name %>" />
                </div>
                <% }); %>

        </section>

    </div>
</body>

</html>